#body{
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	background-position: center bottom;
	padding: 0;
	margin: 0;

}
.bgd{
	background: url('imgs/bg.png') no-repeat;
}
.bg1{
	background: url('imgs/cd1bg.png') no-repeat;
}
.bg2{
	background: url('imgs/cd2bg.png') no-repeat;
}
.bg3{
	background: url('imgs/cd3bg.png') no-repeat;
}
.bg4{
	background: url('imgs/cd4bg.png') no-repeat;
}
.bg6{
	background: url('imgs/cd6bg.png') no-repeat;
}
@font-face {
    font-family: '04b30';
    src: url('04b_30__-webfont.woff2') format('woff2'),
         url('04b_30__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#borderL{
	position: absolute;
	width: 5vw;
	height: 85vh;
	left: 0;
    top: 0;
    background: yellow;
    background: url('imgs/borderL.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-position: right top;
}

#borderT{
	width: 100vw;
	height: 7vh;
	left: 0;
    top: 0;
    background: yellow;
     background: url('imgs/borderT.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-position: right top;
}

#vmtop{
	width: 100vw;
	height: 85vh;
	display:block;
	background: url('imgs/vmtop.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
}

#shelf1{
	width: 90vw;
	height: 8vh;
	margin-top: 23vh;
	margin-left: 5vw;
   	background: url('imgs/shelf.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-position: right bottom;
   	pointer-events: none;
}
#shelf2{
	width: 90vw;
	height: 8vh;
	margin-top: 32vh;
	margin-left: 5vw;
   	background: url('imgs/shelf.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-position: right bottom;
   	pointer-events: none;
}

#vmbot{
	width: 100vw;
	height: 7vh;
	background: url('imgs/borderT.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-position: right top;
	display:block;
}

#vmside{
	width: 15vw;
	height: 90vh;
	right: 0vw;
    top: 0vh;
	position: absolute;
	background: url('imgs/vms.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-position: left top;
}

#ejectButton{
	width: 15vw;
	height: 7vh;
	background: yellow;
	position: relative;
	left: 80vw;
    top: 4vh;
}
#cdDisplay{
	width: 100vw;
	height: 90vh;
	z-index: -2;
}

.cdText{
	width: 30vw; 
	height: 30vh;
	z-index: -2;
	position: fixed;
	left: 160vw;
    top: 30vh;
}

#spotify{
		position: absolute;
		width: 150px; 
		height: 50px;
		left: 0vw;
   		bottom: 5vh;
	}


#cdTextVis{
	outline: none;
    border-color: white;
	font-family: '04b30';
	font-size: 30px;
	color: white;
	z-index: -2;
	display: block;
	left: 55vw;
}

.cd{
	width: 20vh;
	height: 20vh;
	background: yellow;
	position: absolute;
	overflow: hidden;
	z-index: 8;
}
.cd:hover{
    outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
}
.selected{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
}
#selectedCd1{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: url('imgs/cd1.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	z-index: -1;
	position: fixed;
	left: 10vw;
    top: 25vh;
}
#selectedCd2{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: url('imgs/cd2.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	z-index: -1;
	position: fixed;
	left: 10vw;
    top: 25vh;
}
#selectedCd3{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
	background: url('imgs/cd3.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	z-index: -1;
	position: fixed;
	left: 10vw;
    top: 25vh;
}
#selectedCd4{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
     background: url('imgs/cd4.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	z-index: -1;
	position: fixed;
	left: 10vw;
    top: 25vh;
}
#selectedCd5{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: blue;
	z-index: -1;
	position: fixed;
	left: 10vw;
    top: 25vh;
}
#selectedCd6{
	outline: white;
    -webkit-filter: drop-shadow(0px 0px 12px white);
     filter: drop-shadow(0px 0px 12px white);
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: url('imgs/cd6.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	z-index: -1;
	position: fixed;
	left: 10vw;
    top: 25vh;
}
#cd1{
	background: url('imgs/cd1.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    left: 10vw;
    top: 15vh;
}
#cd2{
	background: url('imgs/cd2.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    left: 35vw;
    top: 15vh;
}
#cd3{
	background: url('imgs/cd3.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    left: 60vw;
    top: 15vh;
}
#cd4{
	background: url('imgs/cd4.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    left: 10vw;
    top: 55vh;
}
#cd5{
    left: 35vw;
    top: 55vh;
}
#cd6{
	background: url('imgs/cd6.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    left: 60vw;
    top: 55vh;
}
#hidden{
	display: hidden;
}
.decor1{
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url('imgs/cd1decor.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	background-position: right bottom;
	left: 0;
    bottom: 0vh;
    opacity: 0;
}
.decor2{
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height:100vh;
	background: url('imgs/cd2decor.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	background-position: right bottom;
	left: 0;
    bottom: 0vh;
    opacity: 0;
}
.decor3{
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url('imgs/cd3decor.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	background-position: right bottom;
	left: 0;
    bottom: 0vh;
    opacity: 0;
}
.decor4{
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url('imgs/cd4decor.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	background-position: right bottom;
	left: 0;
    bottom: 0vh;
    opacity: 0;
}
.decor5{
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: blue;
	left: 0;
    bottom: 0vh;
    opacity: 0;
}
.decor6{
	pointer-events: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: url('imgs/cd6decor.png') no-repeat;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
	background-position: right bottom;
	left: 0;
    bottom: 0vh;
    opacity: 0;
}


@media only screen and (max-height: 400px) and (min-width: 850px){
	#shelf1{
		width: 98vw;
		height: 10vh;
		margin-top: 63vh;
		margin-left: 0;
	   	pointer-events: none
	}
	#shelf2{
		width: 98vw;
		height: 10vh;
		margin-top: 66vh;
		margin-left: 0;
	   	pointer-events: none
	}
	#borderL{
		position: absolute;
		width: 2vw;
		height: 175vh;
		left: 0;
    	top: 0;
    	background: yellow;
	}

    #vmtop{
    	height: 170vh;
		display:block;

	}
	#vmbot{
		width: 100vw;
		height: 7vh;
		background: blue;
		display:block;
	}

	#vmside{
		width: 15vw;
		height: 190vh;
		right: 0vw;
	    top: 0vh;
		position: absolute;
		background: black;
	}

	.cd{
		width: 60vh;
		height: 60vh;
		background: yellow;
		position: absolute;
		overflow: hidden;
	}

	#cd1{
    	left: 5vw;
    	top: 15vh;
	}
	#cd2{
    	left: 32vw;
    	top: 15vh;
	}
	#cd3{
    	left: 59vw;
    	top: 15vh;
	}
	#cd4{
    	left: 5vw;
    	top: 90vh;
	}
	#cd5{
    	left: 32vw;
    	top: 90vh;
	}
	#cd6{
    	left: 59vw;
    	top: 90vh;
	}

	#ejectButton{
		width: 15vw;
		height: 10vh;
		background: yellow;
		position: relative;
		left: 80vw;
    	top: 5vh;
	}
	#cdDisplay{
		width: 100vw;
		height: 90vh;
		z-index: -2;
	}
	#selectedCd1{
		width: 75vh;
		height: 75vh;
		z-index: -1;
		position: fixed;
		left: 20vw;
    	top: 15vh;
	}
	#selectedCd2{
		width: 75vh;
		height: 75vh;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd3{
		width: 75vh;
		height: 75vh;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd4{
		width: 75vh;
		height: 75vh;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd5{
		width: 75vh;
		height: 75vh;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd6{
		width: 75vh;
		height: 75vh;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	.cdText{
		width: 20vw; 
		height: 60vh;
		z-index: -2;
		position: fixed;
		left: 160vw;
    	top: 25vh;
	}
	#cdTextVis{
		background: red;
		z-index: -2;
		display: block;
		left: 55vw;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 800px){
	#selectedCd1{
		max-width: 30vw;
		max-height: 30vw;
	}
	#selectedCd2{
		max-width: 30vw;
		max-height: 30vw;
	}
	#selectedCd3{
		max-width: 30vw;
		max-height: 30vw;
	}
	#selectedCd4{
		max-width: 30vw;
		max-height: 30vw;
	}
	#selectedCd5{
		max-width: 30vw;
		max-height: 30vw;
	}
	#selectedCd6{
		max-width: 30vw;
		max-height: 30vw;
	}
	.cdText{
		width: 40vw; 
		height: 20vh;
		z-index: -2;
		position: fixed;
		left: 160vw;
	}
	#cdTextVis{
		background: red;
		z-index: -2;
		display: block;
		left: 45vw;
	}
	#spotify{
		position: absolute;
		width: 150px; 
		height: 50px;
		left: 0vw;
   		bottom: 5vh;
	}
}

@media only screen and (max-width: 500px)  {
	.cdText{
		width: 60vh; 
		height: 20vh;
		z-index: -2;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#spotify{
		position: absolute;
		width: 150px; 
		height: 50px;
		left: 0vw;
   		bottom: 5vh;
	}

	#ejectButton{
		width: 25vw;
		height: 7vh;
		background: yellow;
		position: relative;
		left: 70vw;
    	top: 4vh;
	}

}

@media only screen and (max-width: 800px) {

	#cdTextVis{
		background: pink;
		z-index: -2;
		display: fixed;
		margin-top: 7vh;
		left: 50%;
		transform: translateX(-50%);
	}

	#borderL{
		width: 5vw;
		height: 375vw;
	}

    #vmtop{
    	height: 375vw;
		display:block;
	}

	#shelf1{
		width: 90vw;
		height: 9vw;
		margin-top: 49vw;
		margin-left: 5vw;
    	background: url('imgs/shelf.png') no-repeat;
		-webkit-background-size: cover; /* For WebKit*/
    	-moz-background-size: cover;    /* Mozilla*/
    	-o-background-size: cover;      /* Opera*/
    	background-position: right bottom;
	}
	#shelf2{
		width: 90vw;
		height: 9vw;
		margin-top: 50vw;
		margin-left: 5vw;
    	background: url('imgs/shelf.png') no-repeat;
		-webkit-background-size: cover; /* For WebKit*/
    	-moz-background-size: cover;    /* Mozilla*/
    	-o-background-size: cover;      /* Opera*/
    	background-position: right bottom;
	}
	#shelf3{
		width: 90vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: url('imgs/shelf.png') no-repeat;
		-webkit-background-size: cover; /* For WebKit*/
    	-moz-background-size: cover;    /* Mozilla*/
    	-o-background-size: cover;      /* Opera*/
    	background-position: right bottom;
	}
	#shelf4{
		width: 90vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: url('imgs/shelf.png') no-repeat;
		-webkit-background-size: cover; /* For WebKit*/
    	-moz-background-size: cover;    /* Mozilla*/
    	-o-background-size: cover;      /* Opera*/
    	background-position: right bottom;
	}
	#shelf5{
		width: 90vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: url('imgs/shelf.png') no-repeat;
		-webkit-background-size: cover; /* For WebKit*/
    	-moz-background-size: cover;    /* Mozilla*/
    	-o-background-size: cover;      /* Opera*/
    	background-position: right bottom;
	}
	#shelf6{
		width: 90vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: url('imgs/shelf.png') no-repeat;
		-webkit-background-size: cover; /* For WebKit*/
    	-moz-background-size: cover;    /* Mozilla*/
    	-o-background-size: cover;      /* Opera*/
    	background-position: right bottom;
	}

	#vmbot{
		width: 100vw;
		height: 7vh;
		background: blue;
		display:block;
	}

	#vmside{
		width: 30vw;
		height: 380vw;
		right: 0vw;
	    top: 0vh;
		position: absolute;
	}

	.cd{
		width: 50vw;
		height: 50vw;
		background: yellow;
		position: absolute;
		overflow: hidden;
	}

	#cd1{
    	left: 10vw;
    	top: 15vw;
	}
	#cd2{
    	left: 10vw;
    	top: 75vw;
	}
	#cd3{
    	left: 10vw;
    	top: 135vw;
	}
	#cd4{
    	left: 10vw;
    	top: 195vw;
	}
	#cd5{
    	left: 10vw;
    	top: 255vw;
	}
	#cd6{
    	left: 10vw;
    	top: 315vw;
	}

	#ejectButton{
		width: 15vw;
		height: 10vh;
		background: yellow;
		position: relative;
		left: 80vw;
    	top: 5vh;
	}
	#cdDisplay{
		width: 100vw;
		height: 90vh;
		z-index: -2;
	}
	#selectedCd1{
		max-width: 35vh;
		max-height: 35vh;
		width: 60vw;
		height: 60vw;
		z-index: -1;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#selectedCd2{
		max-width: 35vh;
		max-height: 35vh;
		width: 60vw;
		height: 60vw;
		z-index: -1;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#selectedCd3{
		max-width:35vh;
		max-height: 35vh;
		width: 60vw;
		height: 60vw;
		z-index: -1;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#selectedCd4{
		max-width: 35vh;
		max-height: 35vh;
		width: 60vw;
		height: 60vw;
		background: green;
		z-index: -1;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#selectedCd5{
		max-width: 35vh;
		max-height: 35vh;
		width: 60vw;
		height: 60vw;
		background: blue;
		z-index: -1;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#selectedCd6{
		max-width: 35vh;
		max-height: 35vh;
		width: 60vw;
		height: 60vw;
		z-index: -1;
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
	}
	#ejectButton{
		width: 20vw;
		height: 7vh;
		background: yellow;
		position: relative;
		left: 70vw;
    	top: 4vh;
	}
}

