body{
	background: green;
}

#vmtop{
	width: 100vw;
	height: 85vh;
	background: red;
	display:block;

}
#vmbot{
	width: 100vw;
	height: 7vh;
	background: blue;
	display:block;
}

#vmside{
	width: 15vw;
	height: 90vh;
	right: 0vw;
    top: 0vh;
	position: absolute;
	background: black;
}

#ejectButton{
	width: 15vw;
	height: 7vh;
	background: yellow;
	position: relative;
	left: 80vw;
    top: 4vh;
}
#cdDisplay{
	width: 100vw;
	height: 90vh;
	z-index: -2;
}

.cdText{
	width: 40vh; 
	height: 30vh;
	z-index: -2;
	position: fixed;
	left: 160vw;
    top: 25vh;
}

#cdTextVis{
	background: blue;
	z-index: -2;
	display: block;
	left: 60vw;
}

.cd{
	width: 20vh;
	height: 20vh;
	background: yellow;
	position: absolute;
	overflow: hidden;
}
.selected{
	outline: none;
    border-color: white;
    box-shadow: 0 0 30px white;
}
#selectedCd1{
	width: 60vh;
	height: 60vh;
	background: red;
	z-index: -1;
	position: fixed;
	left: 15vw;
    top: 25vh;
}
#selectedCd2{
	width: 60vh;
	height: 60vh;
	background: orange;
	z-index: -1;
	position: fixed;
	left: 15vw;
    top: 25vh;
}
#selectedCd3{
	width: 60vh;
	height: 60vh;
	background: yellow;
	z-index: -1;
	position: fixed;
	left: 15vw;
    top: 25vh;
}
#selectedCd4{
	width: 60vh;
	height: 60vh;
	background: green;
	z-index: -1;
	position: fixed;
	left: 15vw;
    top: 25vh;
}
#selectedCd5{
	width: 60vh;
	height: 60vh;
	background: blue;
	z-index: -1;
	position: fixed;
	left: 15vw;
    top: 25vh;
}
#selectedCd6{
	width: 60vh;
	height: 60vh;
	background: purple;
	z-index: -1;
	position: fixed;
	left: 15vw;
    top: 25vh;
}
#cd1{
    left: 10vw;
    top: 15vh;
}
#cd2{
    left: 35vw;
    top: 15vh;
}
#cd3{
    left: 60vw;
    top: 15vh;
}
#cd4{
    left: 10vw;
    top: 55vh;
}
#cd5{
    left: 35vw;
    top: 55vh;
}
#cd6{
    left: 60vw;
    top: 55vh;
}
#hidden{
	display: hidden;
}



