body{
	background: green;
	padding: 0;
	margin: 0;
}
#borderL{
	position: absolute;
	width: 5vw;
	height: 85vh;
	left: 0;
    top: 0;
    background: yellow;
}

#borderT{
	width: 100vw;
	height: 7vh;
	left: 0;
    top: 0;
    background: yellow;
}

#vmtop{
	width: 100vw;
	height: 85vh;
	background: red;
	display:block;
	background: url('vmtop.png') no-repeat center;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
}

#shelf1{
	width: 90vw;
	height: 8vh;
	margin-top: 23vh;
	margin-left: 5vw;
   	background: blue;
   	pointer-events: none
}
#shelf2{
	width: 90vw;
	height: 8vh;
	margin-top: 32vh;
	margin-left: 5vw;
   	background: blue;
   	pointer-events: none
}

#vmbot{
	width: 100vw;
	height: 7vh;
	background-image: url('EvAJ.gif');
	display:block;
}

#vmside{
	width: 15vw;
	height: 90vh;
	right: 0vw;
    top: 0vh;
	position: absolute;
	background: black;
}

#ejectButton{
	width: 15vw;
	height: 7vh;
	background: yellow;
	position: relative;
	left: 80vw;
    top: 4vh;
}
#cdDisplay{
	width: 100vw;
	height: 90vh;
	z-index: -2;
}

.cdText{
	width: 30vw; 
	height: 60vh;
	z-index: -2;
	position: fixed;
	left: 160vw;
    top: 25vh;
}

#spotify{
	position: absolute;
	width: 150px; 
	height: 50px;
	left: 0vw;
    bottom: 20vh;
}

#cdTextVis{
	background: blue;
	z-index: -2;
	display: block;
	left: 55vw;
}

.cd{
	width: 20vh;
	height: 20vh;
	background: yellow;
	position: absolute;
	overflow: hidden;
	z-index: 8;
}
.selected{
	outline: none;
    border-color: white;
    box-shadow: 0 0 30px white;
}
#selectedCd1{
	max-width: 60vh;
	max-height: 60vh;
	width: 35vw;
	height: 35vw;
	background: red;
	z-index: -1;
	position: fixed;
	right: 50vw;
    top: 25vh;
}
#selectedCd2{
	max-width: 60vh;
	max-height: 60vh;
	width: 60vh;
	height: 60vh;
	background: orange;
	z-index: -1;
	position: fixed;
	right: 50vw;
    top: 25vh;
}
#selectedCd3{
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: yellow;
	z-index: -1;
	position: fixed;
	right: 50vw;
    top: 25vh;
}
#selectedCd4{
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: green;
	z-index: -1;
	position: fixed;
	right: 50vw;
    top: 25vh;
}
#selectedCd5{
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: blue;
	z-index: -1;
	position: fixed;
	right: 50vw;
    top: 25vh;
}
#selectedCd6{
	max-width: 60vh;
	max-height: 60vh;
	width: 60vw;
	height: 60vw;
	background: purple;
	z-index: -1;
	position: fixed;
	right: 50vw;
    top: 25vh;
}
#cd1{
    left: 10vw;
    top: 15vh;
}
#cd2{
    left: 35vw;
    top: 15vh;
}
#cd3{
    left: 60vw;
    top: 15vh;
}
#cd4{
    left: 10vw;
    top: 55vh;
}
#cd5{
    left: 35vw;
    top: 55vh;
}
#cd6{
    left: 60vw;
    top: 55vh;
}
#hidden{
	display: hidden;
}
.decor1{
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: red;
	left: 0;
    bottom: 0vh;
    opacity: 1;
}
.decor2{
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: orange;
	left: 0;
    bottom: 0vh;
    opacity: 1;
}
.decor3{
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: yellow;
	left: 0;
    bottom: 0vh;
    opacity: 1;
}
.decor4{
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: green;
	left: 0;
    bottom: 0vh;
    opacity: 1;
}
.decor5{
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: blue;
	left: 0;
    bottom: 0vh;
    opacity: 1;
}
.decor6{
	position: fixed;
	width: 100vw;
	height: 20vh;
	background: purple;
	left: 0;
    bottom: 0vh;
    opacity: 1;
}


@media only screen and (max-height: 400px) and (min-width: 850px){
	#shelf1{
		width: 98vw;
		height: 10vh;
		margin-top: 63vh;
		margin-left: 0;
	   	background: blue;
	   	pointer-events: none
	}
	#shelf2{
		width: 98vw;
		height: 10vh;
		margin-top: 66vh;
		margin-left: 0;
	   	background: blue;
	   	pointer-events: none
	}
	#borderL{
		position: absolute;
		width: 2vw;
		height: 175vh;
		left: 0;
    	top: 0;
    	background: yellow;
	}

    #vmtop{
    	height: 170vh;
		background: red;
		display:block;

	}
	#vmbot{
		width: 100vw;
		height: 7vh;
		background: blue;
		display:block;
	}

	#vmside{
		width: 15vw;
		height: 190vh;
		right: 0vw;
	    top: 0vh;
		position: absolute;
		background: black;
	}

	.cd{
		width: 60vh;
		height: 60vh;
		background: yellow;
		position: absolute;
		overflow: hidden;
	}

	#cd1{
    	left: 5vw;
    	top: 15vh;
	}
	#cd2{
    	left: 32vw;
    	top: 15vh;
	}
	#cd3{
    	left: 59vw;
    	top: 15vh;
	}
	#cd4{
    	left: 5vw;
    	top: 90vh;
	}
	#cd5{
    	left: 32vw;
    	top: 90vh;
	}
	#cd6{
    	left: 59vw;
    	top: 90vh;
	}

	#ejectButton{
		width: 15vw;
		height: 10vh;
		background: yellow;
		position: relative;
		left: 80vw;
    	top: 5vh;
	}
	#cdDisplay{
		width: 100vw;
		height: 90vh;
		z-index: -2;
	}
	#selectedCd1{
		width: 75vh;
		height: 75vh;
		background: red;
		z-index: -1;
		position: fixed;
		left: 20vw;
    	top: 15vh;
	}
	#selectedCd2{
		width: 75vh;
		height: 75vh;
		background: orange;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd3{
		width: 75vh;
		height: 75vh;
		background: yellow;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd4{
		width: 75vh;
		height: 75vh;
		background: green;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd5{
		width: 75vh;
		height: 75vh;
		background: blue;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	#selectedCd6{
		width: 75vh;
		height: 75vh;
		background: purple;
		z-index: -1;
		position: fixed;
		left: 20vw;
	    top: 15vh;
	}
	.cdText{
	width: 30vw; 
	height: 60vh;
	z-index: -2;
	position: fixed;
	left: 160vw;
    top: 25vh;
	}
	#cdTextVis{
		background: blue;
		z-index: -2;
		display: block;
		left: 50vw;
	}
}

@media only screen and (min-width: 600px) and (max-width: 800px){
	.cdText{
		width: 60vw; 
		height: 20vh;
		z-index: -2;
		position: fixed;
		left: 160vw;
    	top: 80vw;
	}
	#cdTextVis{
		background: blue;
		z-index: -2;
		display: block;
		left: 19vw;
	}
	#spotify{
		position: absolute;
		width: 150px; 
		height: 50px;
		left: 0vw;
   		bottom: 5vh;
	}
}

@media only screen and (max-width: 600px)  {
	.cdText{
		width: 60vw; 
		height: 20vh;
		z-index: -2;
		position: fixed;
		left: 160vw;
    	top: 85vw;
	}
	#cdTextVis{
		background: blue;
		z-index: -2;
		display: block;
		left: 19vw;
	}
	#spotify{
		position: absolute;
		width: 150px; 
		height: 50px;
		left: 0vw;
   		bottom: 5vh;
	}

	#ejectButton{
		width: 25vw;
		height: 7vh;
		background: yellow;
		position: relative;
		left: 70vw;
    	top: 4vh;
	}
}

@media only screen and (max-width: 800px) {
	#borderL{
		width: 5vw;
		height: 375vw;
	}

    #vmtop{
    	height: 375vw;
		background: red;
		display:block;
	}

	#shelf1{
		width: 100vw;
		height: 9vw;
		margin-top: 52vw;
		margin-left: 5vw;
    	background: blue;
	}
	#shelf2{
		width: 100vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: blue;
	}
	#shelf3{
		width: 100vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: blue;
	}
	#shelf4{
		width: 100vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: blue;
	}
	#shelf5{
		width: 100vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: blue;
	}
	#shelf6{
		width: 100vw;
		height: 9vw;
		margin-top: 51vw;
		margin-left: 5vw;
    	background: blue;
	}

	#vmbot{
		width: 100vw;
		height: 7vh;
		background: blue;
		display:block;
	}

	#vmside{
		width: 30vw;
		height: 380vw;
		right: 0vw;
	    top: 0vh;
		position: absolute;
		background: black;
	}

	.cd{
		width: 50vw;
		height: 50vw;
		background: yellow;
		position: absolute;
		overflow: hidden;
	}

	#cd1{
    	left: 10vw;
    	top: 15vw;
	}
	#cd2{
    	left: 10vw;
    	top: 75vw;
	}
	#cd3{
    	left: 10vw;
    	top: 135vw;
	}
	#cd4{
    	left: 10vw;
    	top: 195vw;
	}
	#cd5{
    	left: 10vw;
    	top: 255vw;
	}
	#cd6{
    	left: 10vw;
    	top: 315vw;
	}

	#ejectButton{
		width: 15vw;
		height: 10vh;
		background: yellow;
		position: relative;
		left: 80vw;
    	top: 5vh;
	}
	#cdDisplay{
		width: 100vw;
		height: 90vh;
		z-index: -2;
	}
	#selectedCd1{
		width: 60vw;
		height: 60vw;
		background: red;
		z-index: -1;
		position: fixed;
		left: 19vw;
    	top: 15vh;
	}
	#selectedCd2{
		width: 60vw;
		height: 60vw;
		background: orange;
		z-index: -1;
		position: fixed;
		left: 19vw;
	    top: 15vh;
	}
	#selectedCd3{
		width: 60vw;
		height: 60vw;
		background: yellow;
		z-index: -1;
		position: fixed;
		left: 19vw;
	    top: 15vh;
	}
	#selectedCd4{
		width: 60vw;
		height: 60vw;
		background: green;
		z-index: -1;
		position: fixed;
		left: 19vw;
	    top: 15vh;
	}
	#selectedCd5{
		width: 60vw;
		height: 60vw;
		background: blue;
		z-index: -1;
		position: fixed;
		left: 19vw;
	    top: 15vh;
	}
	#selectedCd6{
		width: 60vw;
		height: 60vw;
		background: purple;
		z-index: -1;
		position: fixed;
		left: 19vw;
	    top: 15vh;
	}
	#ejectButton{
		width: 20vw;
		height: 7vh;
		background: yellow;
		position: relative;
		left: 70vw;
    	top: 4vh;
	}
}

